<h1>About</h1>
<p>
	
	Github: https://github.com/abhubbart/ARM

	Heroku: http://arm.herokuapp.com/

	This project is inspired by the pure lack of resource management tools available for audit companies or departments.  I have evaluated numerous options and none seem to fit the need or process of an audit shop.  Hopefully I can make something better.

	View my site on <%= link_to "Github", "https://github.com/abhubbart/ARM" %>!
	View my site on <%= link_to "Heroku", "http://arm.herokuapp.com/" %>!
</p>

